<div id="noteLink" class="section section-basic">
    <h3 id="aWord">A word!</h3>
    <div class="row justify-content-center">
        <div class="col-8">
            <p id="whatIFeel">
                Hii Bachha!
                <br>
                Yes, thats what I call her and the only reason behind is, she is the most innocent one out there and maybe thats why I am the one for her, maybe thats why she gets a little sad whenever I say little something which I shouldn't, maybe thats why she can talk all day unaware of the involvement of logic, maybe thats why she sobs whenever I take off from her and a thousand other beautiful reasons to be called 'My bachha'.
                <br>
                'Baby, you sure na? I am perfect for you and are you sure, you are happy?' All that you are is all that I ever needed in life. And hey, college friends, may you please tell her that what did I demanded in a girl back in college. Isn't she perfect.
                <br>
                You are the most loving, caring, humourous and (I got adjectives like clever too, per aaj birthday hai) person I have ever met in my life, unbiased han baby and not because I love you or something, I mean I do love you. Ahh, you know exactly what I mean, you always do even if I say something or not. 'Awaaz sunke kisi ki khushi aur baatein sunke kisi ka dukh naapna' is never too easy but I have no idea that how do you manage to achieve that so easily. I know there are a million other things which I have no idea about, except for one thing which I know undoubtedly is "I LOVE YOU" and I always will.
                'Baby, I worry about the future, you are not gonna leave me na? You sure na aap sab dekh loge aur kuch bhi nhi hoga? Kya matlab uss ladki ke saath ghumne jaoge aap? Fir apne kya bola usko.' and to a million other questions which make you a little bit insecure and a lot more cute, I have an answer to each and every one of them. I am not gonna leave you, not now and not ever and you know that whenever I write emotionally, I mean each and every word I say.
                <br>
                I am gonna leave these long paragraphs incomplete because some things are better left unsaid and some should be said on the face with hands on the waist. But more seriously baby,
                <br>
                A very happy birthday to the most beautiful girl in the world and may god bless you with smile and laughter like he does. Stay the same, which I know you will and I love you so much bachha.
                Aur bik jayen bazar mai lekin usse kya hoga? Jis keemat per tum milte ho utne apne daam kahan. Aur ik gal hor, main ae keh reha si ki bhai, 'sohni tan tu wakyi bohot hain'.</p>
        </div>
    </div>
</div>