#aWord{
    text-align: center;
    font-family: 'Merienda One', cursive;
    font-size: 250%;
    font-weight: bolder;
}

.section-basic{
    padding: 20px 20px 0 20px;
    margin: 1px;
}

#whatIFeel{
    font-size: 160%;
}