ngb-progressbar {
    margin-top: 5rem;
}

.rellax-header{
    background-image: url("assets/img/bg_her.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.h1-seo{
    font-size: 100px;
    font-family: 'RofiTaste';
}

#weirdo{
    text-align: center;
    font-family: 'Merienda One', cursive;
    font-size: 250%;
    font-weight: bolder;
}

#carousel{
    padding: 0 20px 0 20px;
    margin: 1px;
}

.col-8{
    max-width: 85%;
    flex: 0 0 85%;
}

img{
    width: 100%;
    height: 50%;
}

.login-page{
    text-align: center;
}

.section-signup{
    background: #FFF;
    padding: 20px 0 0 0;
}

#wish_her{
    font-family: 'Merienda One', cursive;
    font-size: 250%;
    font-weight: bolder;
}

#textarea{
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    width: 80%;
    overflow: hidden;
}

.col-md-4{
    flex: 0 0 100%;
    max-width: 100%;
}

hr{
    border-top: 1px solid rgba(0, 0, 0, 0.35);
}

#the_lines{
    text-align: center;
    padding-top: 5px;
}

.carousel-caption{
    color: white;
    padding-top: 0;     
}

h4{
    font-weight: bolder;
}

#madeWithLove{
    margin: 0;
    text-align: center;
}

:host >>> .alert-custom{
    background-color: #f96332;
}