ngb-progressbar {
    margin-top: 5rem;
}

.rellax-header{
    background-image: url("assets/img/bg_her.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.h1-seo{
    font-size: 100px;
    font-family: 'RofiTaste';
}

#weirdo{
    text-align: center;
    font-family: 'Merienda One', cursive;
    font-size: 250%;
    font-weight: bolder;
}

#carousel{
    padding: 0 20px 0 20px;
    margin: 1px;
}

.col-8{
    max-width: 85%;
    flex: 0 0 85%;
}

img{
    width: 100%;
    height: 50%;
}

.login-page{
    text-align: center;
}

.section-signup{
    background: #ffffff;
}
