<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7">

    </div>
      <div class="container">
          <div class="content-center brand">
              <h1 class="h1-seo">Happy Birthday Baby!</h1>
          </div>
      </div>
  </div>

  <div class="main">
      <app-basicelements></app-basicelements>
      <hr align="center" size="10px" width="70%">
          <div class="section section-javascript" id="javascriptComponents">
          <div class="section" id="carousel">
                <h3 id="weirdo">Weirdo!</h3>
                <div class="row justify-content-center">
                    <div class="col-8">
                    <ngb-carousel  #carousel interval="3000" pauseOnHover="true">
                        <ng-template ngbSlide>
                            <img class="d-block" src="assets/img/her1.jpg" alt="First slide">
                            <div class="carousel-caption">
                                <p style="font-weight: bold;">She hawt?</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block" src="assets/img/her2.jpg" alt="Second slide">
                            <div class="carousel-caption">
                                <p style="font-weight: bold;">She hawt?</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block" src="assets/img/her3.jpg" alt="Second slide">
                            <div class="carousel-caption">
                                <p style="font-weight: bold;">She hawt?</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block" src="assets/img/her4.jpg" alt="Third slide">
                            <div class="carousel-caption">
                                <p style="font-weight: bold;">She hawt?</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block" src="assets/img/her5.jpg" alt="Second slide">
                            <div class="carousel-caption">
                                <p style="font-weight: bold;">She hawt?</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block" src="assets/img/her6.jpg" alt="Second slide">
                            <div class="carousel-caption">
                                <p style="font-weight: bold;">She hawt?</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block" src="assets/img/her7.jpg" alt="Second slide">
                            <div class="carousel-caption">
                                <p style="font-weight: bold;">She hawt?</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block" src="assets/img/her8.jpg" alt="Second slide">
                            <div class="carousel-caption">
                                <p style="font-weight: bold;">She hawt?</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block" src="assets/img/her9.jpg" alt="Second slide">
                            <div class="carousel-caption">
                                <p style="font-weight: bold;">She hawt?</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block" src="assets/img/her10.jpg" alt="Second slide">
                            <div class="carousel-caption">
                                <p style="font-weight: bold;">She hawt?</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block" src="assets/img/her11.jpg" alt="Second slide">
                            <div class="carousel-caption">
                                <p style="font-weight: bold;">She hawt?</p>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                    </div>
                </div>
          </div>
        </div>
        <hr align="center" size="10px" width="70%">
      <div id="wishHerLink" class="section section-signup" style="background-size: cover; background-position: top center;">
          <div class="container login-page">
            <h3 id="wish_her">Wish Her!</h3>
            <div class="row">
              <div class="col-md-4">
                  <div class="card card-login card-plain">
                      <form class="form" method="" action="">
                          <div class="header header-primary text-center">
                          </div>
                          <div class="content">
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                              </div>
                                <input type="text" class="form-control" placeholder="Your name please." (focus)="focus=true" (blur)="focus=false" >
                            </div>
                            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                              </div>
                                <textarea id="textarea" placeholder="She needs your blessings. Please spread some." class="form-control" (focus)="focus1=true" (blur)="focus1=false"></textarea>
                            </div>
                          </div>
                          <div class="footer text-center">
                              <a href="javascript:void(0)" (click)="showAlert()" class="btn btn-primary">Happy Birthday</a>
                              <ngb-alert type="custom" *ngIf="!buttonClicked" (close)="buttonClicked = true">Thank you for your wishes, I'll forward that to her!</ngb-alert>
                          </div>
                      </form>
                  </div>
              </div>
            </div>
          </div>
      </div>
      <div class="section section-download" id="#love" data-background-color="black" style="padding-top: 5px; padding-bottom: 5px;">
          <div class="container">
            <p id="madeWithLove">Made with so much of &#10084;&#65039; by Abhishek Chhabra</p>
          </div>
      </div>
  </div>
</div>
