ngb-progressbar {
    margin-top: 5rem;
}

.rellax-header{
    background-image: url("assets/img/bg_her.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.h1-seo{
    font-size: 100px;
    font-family: 'RofiTaste';
}