@font-face{
    font-family: 'RofiTaste';
    font-weight: bolder;
    src: url('../assets/fonts/RofiTaste.ttf') format('truetype'),
         url('../assets/fonts/RofiTaste.woff') format('woff'),
         url('../assets/fonts/RofiTaste.woff2') format('woff2');
}